OLLAMA_BASE_URL = "http://156.411.240.117/v1" # or "http://localhost:11434/v1" if you have ollama on your local machine and you have 
OPENAI_API_KEY =  "OLLAMA" # This remain constant
MODEL_NAME = "granite3.3:8b" # Open Source Model of your choice running on OLLAMA

